table {
  margin: 60px auto;
  width: 350px;
  border-collapse: collapse;
}

table tr {
  height: 50px;
  border: 5px solid black;
}

table td {
  width: 14.28%;
  border: 5px solid black;
}

table td[colspan="2"] {
    width: 28.56%;
}

.yellow {
  background: yellow;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.black {
  background: black;
}
